<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio MiAPP</ion-title>
  </ion-toolbar>
</ion-header>
<!--Home page-->
<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: center; align-items: center; height: auto;">
    <ion-icon slot="start" name="person-circle-outline" style="font-size:100px;"></ion-icon>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <ion-button expand="block" (click)="goToLogin()">
      Iniciar Sesión
    </ion-button>
  </div>
</ion-content>
